* {
    margin: 0;
    padding: 0;
}

.bounce__text {
    border: none;
    outline: none;
    /*color: white;*/
    display: flex;
}

.bounce__text div {
    background-color: transparent;
    cursor: default;
    display: flex;
}

.bounce__text div:hover {
    color: rgb(92, 255, 160);
    animation: animate 0.70s;
}

@keyframes animate {
    25% {
        transform: scale(0.8, 1.2);
    }
    50% {
        transform: scale(1.2, 0.8);
    }
    75% {
        transform: scale(1.2, 1.1);
    }
}